@font-face {
    font-family: 'TradeGothic';
    src:         url('../../assets/fonts/TradeGot.eot');
    src:         url('../../assets/fonts/TradeGot.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/TradeGot.woff') format('woff'),
    url('../../assets/fonts/TradeGot.ttf') format('truetype'),
    url('../../assets/fonts/TradeGot.svg#TradeGothic') format('svg');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'TradeGothicBoldTwo';
    src:         url('../../assets/fonts/TradeGotBolTwo.eot');
    src:         url('../../assets/fonts/TradeGotBolTwo.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/TradeGotBolTwo.woff') format('woff'),
    url('../../assets/fonts/TradeGotBolTwo.ttf') format('truetype'),
    url('../../assets/fonts/TradeGotBolTwo.svg#TradeGothic') format('svg');
    font-weight: normal;
    font-style:  normal;
}