$font_site-default: "TradeGothic", "Arial", "sans-serif";
$font-site-bold : "TradeGothicBoldTwo", "Arial", "sans-serif";

$color-body: #58595B;

$color-utility-menu: #808285;
$color-utility-menu-hover: #0075c9;

$color-header: #0075c9;

$color_site-default:#000;
$color_white: #fff;

$size_site-main: 100%;
$size_site-sidebar: 25%;

