//Typography specific styles

body {
    font-family : $font-site-default;
}

body,
button,
input,
select,
textarea {
    @include font-size(1.2);
}

h1, h2, h3, h4, h5, h6 {
    clear : both;
    color : $color-header;
}

h1 {
   margin: 31.2px 0px;
   color: $color-header;
   font-family: $font-site-default;
   @include font-size(2.6);

}


h2 {
    @include font-size(1.8);
    font-family : $font-site-bold;
    margin: 21.6px 0px;
    text-transform: uppercase;
    a{
	color:#231F20;
    @include font-size(1.8);
    font-family : $font-site-bold;
    text-decoration:underline;
    &:hover{color:#231F20;}
    }
}

h3 {
    @include font-size(1.5);
    font-family : $font-site-bold;
    a{
	color:#231F20;
    @include font-size(1.5);
    font-family : $font-site-bold;
    text-decoration:underline;
    &:hover{color:#231F20;}
    }
}

h4{
    @include font-size(1.5);
    font-family : $font-site-bold;
    font-style: oblique;
}

p {
    margin-bottom : 1.5em;
    @include font-size(1.2);
    line-height:1.5;
}

b, strong {
    font-weight : bold;
}

dfn, cite, em, i {
    font-style : italic;
}

blockquote {
    margin-top : 30px;
    margin-bottom:0;
    padding:0;
    border:none;
    P{
	    @include font-size(1.8);
	    font-family:$font_site-default;
	    font-style:oblique;
	    color:#7FB7E4;
	  }
	  cite{
	  color: $color-header;
	  //border:solid 1px #333;
	  text-align:right;
	  @include font-size(1.5);
	  font-family : $font-site-bold;
      font-style: oblique;
        &:before {
	                    content : '- ';
	                }
      
	  }
   
}

address {
    margin : 0 0 1.5em;
}

pre {
    @include font-size(1.5);
    margin-bottom : 1.6em;
    max-width     : 100%;
    overflow      : auto;
    padding       : 1.6em;
}

code, kbd, tt, var {
    @include font-size(1.5);
}

abbr, acronym {
    border-bottom : 1px dotted #000;
    cursor        : help;
}

mark, ins {
    text-decoration : none;
}

sup,
sub {
    font-size      : 75%;
    height         : 0;
    line-height    : 0;
    position       : relative;
    vertical-align : baseline;
}

sup {
    bottom : 1ex;
}

sub {
    top : .5ex;
}

small {
    font-size : 75%;
}

big {
    font-size : 125%;
}