//Header specific stylings
@media screen and (min-width: 1000px) {
	.header {
	    margin-top : 30px;
	    .site-logo {
	        display    : block;
	        margin-top : 30px;
	        width      : 243px;
	        height     : 72px;
	        background : url(../img/clo_logo.svg) no-repeat;
	
	    }
	}


}

@media screen and (min-width: 641px) and (max-width:999px) {

	.header {
	     //border:solid 1px red;
		    //margin-top : 10px;
		   // margin-left:10px;
		     .small-utility{
		    //border:solid 1px red;
		    width:42%;
		    padding:0;
		    margin:25px 0px 10px 8%;
		    //float:right;
		    }
		    
		    .small-logo{
		    //border:solid 1px blue;
		          padding:0; 
		          width:210px;
		     margin-top:20px;
		     
		     .site-logo {
	        display    : block;
	        margin-left : 10px;
	        width      : 150px;
	        height     : 32px;
	        background : url(../img/clo_logo_medium.svg) no-repeat;
	        //border:solid 1px #333;
	
	    }
		    
		    }
	   
	}


}