.main {
	width:100%;
}
.main.sidebar {
	width:70%;
	float:left;
}
.sidebar {
	width:25%;
	float:right;
}
/////////////////////
@media print{
  .mbx-dh{display:none;}
  #searchform{display:none;}
  .image-link{display:none;}
  .menudiv{display:none;}
  .tab-bar{display:none;}
  a{display:none;}
  img{display:none;}
  svg{display:none;}
  .menu-main-menu-container{z-index:999;}
}