.cm{
    ul{
		color: rgb(88, 89, 91);
		font-family: TradeGothic, Arial, sans-serif;
		font-size: 10px;
		line-height: 16px;
       li{
			color: rgb(88, 89, 91);
			font-family: TradeGothic, Arial, sans-serif;
			font-size: 14px;
			line-height: 22.4px;
			list-style-type: none;
	          .date{float:left;width:105px;font-family:TradeGothic, Arial, sans-serif;color:#58595B;}
	          .title{display:inline-block; width:250px;}
	          &:before{float:left;width:7px;}
        }
    
    }

}