//html, body, h1, h2, h3, h4, h5 {
//    margin: 0px;
//    padding: 0px;
//}

.albumTrigger{
  float:left;
  margin-right:25px;
}

#album_mask {
    background-color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity= 50);
    display: none;
    z-index:130
}
#album_boxcontain {
    margin: 0 auto;
    position: fixed;
    //z-index: 2;
    z-index: 131;
    line-height: 28px;
    display: none;
    width:74%;
    height:80%;
    left:13%;
    top:15%;
}
#album_showbox {
    padding: 10px 40px 40px 40px;
    background: #231F20;
    //border-radius: 5px;
    margin: 20px;
    min-width: 80%;
    min-height: 80%;
    z-index:131;
}
#album_title {
    position: relative;
    //height: 27px;
    h1{
       margin:15px 0;
    }
    margin-bottom:20px;
}
#album_close {
    position: absolute;
    cursor: pointer;
    outline: none;
    top: 0;
    right: 0;
    z-index: 132;
    width: 42px;
    height: 42px;
    overflow: hidden;
    background-image: url(../img/feedback-close.png);
    _background: none;
}
#album_message {
    padding: 10px 0px;
    overflow: hidden;
    line-height: 19px;
    //position:relative;
    
    .albumBox{
      max-width:670px;
      //border:solid 1px red;
      //max-width:720px;
      //height:470px;
      //min-height:400px;
      .albumGrid{width:160px;float:left;}
      
      .imgShowBox{
        display:inline-block;
        position:relative;
        height:400px;
        width:72%;
        margin-left:10px;
        //border:solid 1px blue;
        .leftArrow{width:30px; height:70px; position:absolute; top:35%;}
        .imgShow{width:85%; height:340px; background-color:#808285; position:absolute; left:35px;  display:flex;
                 justify-content:center;
                 align-items:center;
                 overflow:hidden;img{flex-shrink:0;}}
        .imgCaption{position:absolute; left:35px; top:340px; color:#ffffff;}
        .rightArrow{width:30px; height:70px; position:absolute; top:35%; left:94%;}
      }
      
    }
    
    table{
      background:none;
      border:none;
      width:auto;
      margin:0;
       tr{
           background-color:#808285;
           border:none;
           td{
               border-right: solid 3px #231F20;
               border-bottom: solid 3px #231F20;
               padding:0;
               width:40px;
               .imgSelected{opacity:0.1;}
                 img{width:100%; height:100%;}
              }
          }
     }
    
 
}

@media screen and (max-width : 999px) {
       
       #album_boxcontain {
	    width:85%;
	    height:80%;
	    left:7.5%;
	    top:8%;
      }
       
      .albumGrid {
        margin-bottom:10px;
      }
      
      #album_message .albumBox .imgShowBox .rightArrow {right:1%;} 
 
    
}

@media screen and (max-width : 640px) {

   #album_showbox{padding:5px;}

   #album_boxcontain {
	    width:95%;
	    height:80%;
	    left:2.5%;
	    top:8%;
      }
   
   #album_message .albumBox .imgShowBox{
       width:100%;
       margin-left:0px;
       .leftArrow{width:20px; height:70px; position:absolute; top:35%;}
       .imgShow{width:85%; height:340px; background-color:#808285; position:absolute; left:20px; }
       //.imgCaption{position:absolute; left:35px; top:340px; color:#ffffff;}
       .rightArrow{width:20px;}
       
   }
}




@media screen and (max-height : 480px) {
       
       #album_boxcontain {
        position:absolute;
       }
       
       
}

