.cm{
    //border:solid 1px #333;
    ul{
       li{
          .date{float:left;width:150px;}
          .title{display:inline-block; width:250px;}
          &:before{float:left;}
        }
    
    }

}