
@media screen and (min-width: 641px){
	.entry-content{
	    .mainSiteMap-menu-container{
		
		       >ul{
		             margin:0;
		             //list-style-type:disc;
		             >li{
		                border:solid 1px #333;
		                //float:left;
		                &:before {display:none;}
		                    ul{li{&:before{display:none;}}}
		                }
		           }
		
		}
	
	}
}