table {
	margin: 0 0 1.5em;
	width: 100%;
	border-collapse: separate;
    //border-spacing: 5px;
    background: #FFF;
    border: none;
    margin-bottom: 1.0rem;
    margin-top: 3.0rem;
    table-layout: auto;
    border-bottom:1px solid $color-header;
    
}

table caption{
@include font-size(1.5);
text-align:left;
color:$color-header;
}
table tbody, table thead, table tfoot{
padding:30px;
}


table tbody tr td, table tbody tr th, table tfoot tr td, table tfoot tr th, table thead tr th, table thead tr td, table tr td {
    display: table-cell;
    height: 3.4rem;
    line-height:normal;
}

table tr td{
    color: #58595B;
    font-size: 1.5rem;
    padding: .5625rem .625rem;
    text-align: left;
    border-right:solid 4px #fff;

}
table tr th, table thead tr th, table tfoot tr th{
background: $color-header;
font-family:$font-site-bold;
color:#fff;

font-size: 1.3rem;
    //padding: .5625rem .625rem;
    border-right:solid 4px #fff;
    text-align: left;
}

table tr:last-child{

td, th{
    border-bottom:solid 5px #fff;
  }
}

table tr td{
font-family:TradeGothic-CondEighteen;
}
table tr.alt, table tr.even, table tr:nth-of-type(odd) {
    background: #CCE0F3;
}
table tr.alt, table tr.even, table tr:nth-of-type(even) {
    background: #fff;
}
